@mixin query($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin cardEffect {
  transform: translateY(-3px);
}

@mixin cardAnimation($duration) {
  animation-name: cardAnimation;
  animation-duration: $duration;
  animation-timing-function: linear;
}
