*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

@import "mixin";

body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(0.9rem + 0.33vw);
  max-width: 100vw;
  min-height: 100vh;
  background-color: #f5f5fb;
  display: grid;
  grid-template-columns: 15% 55% 30%;
  align-items: center;

  @include query(768) {
    grid-template-columns: 20% 50% 30%;
  }
  @include query(1024) {
    grid-template-columns: 20% 50% 30%;
  }
}

@keyframes cardAnimation {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes progressAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  height: 100%;
  padding: 1.5rem 0.5rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;

  @include query(768) {
    padding-top: 5rem;
  }
  @include query(1024) {
    padding-top: 5rem;
  }

  .searchbox {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: space-between;

    input {
      border: none;
      border-radius: 5px;
      outline: none;
      padding: 0.5rem 1rem;
      width: 50%;
      transition: all 0.2s ease-in-out;

      &:focus {
        width: 80%;
      }
    }

    svg {
      width: 2rem;
      height: 2.5rem;
      stroke: #768492;
      transition: stroke 200ms ease-in;

      &:hover {
        stroke: #000;
      }
    }
  }

  .main-navigation {
    width: 100%;
    height: auto;
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: space-between;

    h3 {
      transition: color 200ms ease-in;

      &:hover {
        color: #768492;
        transform: scale(1.02);
      }
    }

    ul {
      display: flex;

      li {
        margin-left: calc(0.5rem + 0.33vw);
        color: #768492;
        transition: color 200ms ease-in;

        &:hover {
          color: #000;
        }
      }
    }
  }

  .design {
    width: 100%;
    height: 15rem;
    background-image: url("../assets/images/uiux.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    color: #fff;
    margin-bottom: 2.4rem;
    padding: 1.5rem;
    transition: all 250ms ease-in-out;

    @include cardAnimation(400ms);

    @include query(768) {
      height: 21rem;
    }
    @include query(1024) {
      height: 23rem;
    }

    &:hover {
      @include cardEffect;
    }

    .design-first-row {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-between;
    }
    .design-second-row {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    column-gap: 2.4rem;
    row-gap: 2.4rem;
    color: #fff;

    .photography {
      width: 100%;
      height: 15rem;
      background-image: url("../assets/images/photography.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 6px;
      padding: 1.5rem;
      transition: all 250ms ease-in-out;

      @include cardAnimation(400ms);

      @include query(768) {
        height: 21rem;
      }
      @include query(1024) {
        height: 23rem;
      }

      &:hover {
        @include cardEffect;
      }

      .photography-first-row {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
      }
      .photography-second-row {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .animation {
      width: 100%;
      height: 15rem;
      background-image: url("../assets/images/animation.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 6px;
      padding: 1.5rem;
      transition: all 250ms ease-in-out;

      @include cardAnimation(400ms);

      @include query(768) {
        height: 21rem;
      }
      @include query(1024) {
        height: 23rem;
      }

      &:hover {
        @include cardEffect;
      }

      .animation-first-row {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
      }
      .animation-second-row {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    @include query(768) {
      flex-direction: row;
    }
    @include query(1024) {
      flex-direction: row;
    }
  }
}

.rightContainer {
  height: 100%;
  padding: 1rem;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);

  @include query(768) {
    padding: 1rem 2rem;
    padding-top: 4.5rem;
  }
  @include query(1024) {
    padding: 1rem 4rem;
    padding-top: 4.5rem;
  }

  .rightContainer-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
      display: inline-block;
    }

    p {
      margin-left: calc(0.5rem + 0.33vw);
    }
  }

  .rightContainer-progress {
    margin-bottom: 4rem;

    h4 {
      margin-bottom: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 1.5rem;

      small {
        color: #83919e;
        font-weight: 300;
      }

      label {
        display: flex;
        column-gap: 0.4rem;

        @include query(768) {
          column-gap: 0.9rem;
        }
        @include query(1024) {
          column-gap: 1.5rem;
        }

        .progress-design-bgc,
        .progress-photography-bgc,
        .progress-animation-bgc {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 3px;
          display: inline-block;
          position: relative;

          img {
            width: 1.6rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .progress-design-bgc {
          background-color: rgba(94, 129, 244, 0.3);
        }
        .progress-photography-bgc {
          background-color: rgba(12, 195, 231, 0.3);
        }
        .progress-animation-bgc {
          background-color: rgba(255, 128, 139, 0.3);
        }

        progress {
          width: 40%;
          height: 9px;
          border-radius: 9px;
          box-shadow: 1px 1px 4px rgba(239, 239, 239, 0.5);
          align-self: center;
          animation: progressAnimation 1s linear;
          display: none;

          @include query(768) {
            display: inline-block;
          }
          @include query(1024) {
            display: inline-block;
          }
        }

        #progress-design {
          &::-webkit-progress-bar {
            background-color: #fff;
            border-radius: 9px;
          }
          &::-webkit-progress-value {
            background-color: rgb(94, 129, 244);
            border-radius: 9px;
          }
          &::-moz-progress-bar {
            background-color: rgb(94, 129, 244);
            border-radius: 9px;
          }
        }

        #progress-photography {
          &::-webkit-progress-bar {
            background-color: #fff;
            border-radius: 9px;
          }
          &::-webkit-progress-value {
            background-color: rgb(12, 195, 231);
            border-radius: 9px;
          }
          &::-moz-progress-bar {
            background-color: rgb(12, 195, 231);
            border-radius: 9px;
          }
        }

        #progress-animation {
          &::-webkit-progress-bar {
            background-color: #fff;
            border-radius: 9px;
          }
          &::-webkit-progress-value {
            background-color: rgb(255, 128, 139);
            border-radius: 9px;
          }
          &::-moz-progress-bar {
            background-color: rgb(255, 128, 139);
            border-radius: 9px;
          }
        }
      }
    }
  }

  .rightContainer-task {
    margin-bottom: 4rem;

    h4 {
      margin-bottom: 2rem;
    }

    .taskChild {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 1.5rem;

      small {
        color: #83919e;
        font-weight: 300;
      }

      .rightContainer-task__design,
      .rightContainer-task__animation {
        display: flex;
        column-gap: 0.4rem;

        @include query(768) {
          column-gap: 0.9rem;
        }
        @include query(1024) {
          column-gap: 1.5rem;
        }

        img {
          width: 1.6rem;
        }
      }
    }
  }

  .rightContainer-card {
    text-align: center;

    .cardChild {
      margin: 0 auto;
      width: 85%;
      height: 17rem;
      position: relative;
      background-color: #fafafa;
      border-radius: 5px;
      transition: transform 250ms ease-in;

      &:hover,
      &:active {
        transform: scale(1.03);
      }

      @include query(768) {
        height: 13rem;
      }
      @include query(1024) {
        width: 80%;
        height: 14rem;
      }

      .card-content {
        width: 95%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: left;

        p {
          margin-left: 0.5rem;
        }

        a img {
          margin-left: 0.5rem;
          margin-top: 1.5rem;
          width: 1.5rem;
        }
      }
  
      .card-person {
        width: 4.8rem;
        height: 9.1rem;
        position: absolute;
        bottom: -14px;

        @include query(768) {
          width: 5.8rem;
          height: 10.1rem;
          bottom: -13px;
        }
        @include query(1024) {
          width: 6.8rem;
          height: 11.1rem;
          bottom: -13px;
        }
      }
      .card-circle-one {
        width: 5rem;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .card-circle-two {
        width: 4rem;
        position: absolute;
        top: 0;
        right: 0;

        @include query(768) {
          width: 5rem;
        }
        @include query(1024) {
          width: 6rem;
        }
      }
    }
  }
}
